# Nextcloud Configuration

NC_PORT=8080
DB_ROOT_PASSWORD=change_me_root_password
DB_PASSWORD=change_me_db_password
ADMIN_USER=admin
ADMIN_PASSWORD=change_me_admin_password
# Space-separated trusted domains
TRUSTED_DOMAINS=localhost macmini.local
