# LazyLibrarian Configuration

LAZYLIBRARIAN_PORT=5299
TZ=Europe/Vilnius
PUID=1000
PGID=1000

# Same paths as Readarr / Calibre
BOOKS_DIR=/Volumes/books
AUDIOBOOKS_DIR=/Users/dziugaspeciulevicius/services/audiobookshelf/data/audiobooks
DOWNLOADS_DIR=/Volumes/media/downloads
