[user]
    name = Džiugas Pečiulevičius
    email = 43075730+peciulevicius@users.noreply.github.com
[init]
    defaultBranch = main
[alias]
    gl = config --global -l				# --- prints global git configuration ---
    ac = !git add . && git commit -m 	# --- adds all files to git and commits (e.g. git ac "commit message") ---
    last = log -1 HEAD --stat 			# --- prints out last commit with stats ---

    # --- git log aliases ---
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lg-me = log --author="Pečiulevičius" --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    log-me = log --author="Pečiulevičius"
